<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tengchinsheng.bustracker" >

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Bus Voice">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationResult"
            android:label="Nearest Bus Stop"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tengchinsheng.bustracker.MainActivity" />
        </activity>
        <activity
            android:name=".NavigationPage"
            android:label="@string/title_activity_navigation_page"
            android:parentActivityName=".LocationResult" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tengchinsheng.bustracker.LocationResult" />
        </activity>
        <activity
            android:name=".NavigatingPage"
            android:label="@string/title_activity_navigating_page" >
        </activity>
        <activity
            android:name=".DisplayTimetable"
            android:label="@string/title_activity_display_timetable" >
        </activity>
        <activity
            android:name=".OnBus"
            android:label="@string/title_activity_on_bus" >
        </activity>
        <activity
            android:name=".FavouriteTrip"
            android:label="@string/title_activity_favourite_trip" >
        </activity>
    </application>

</manifest>
